@use 'config';
@use 'menu';
@use 'mobile';
@use 'sass:color';

* {
    box-sizing: border-box;
}

body{
    @include config.background;
    background: config.$primary-color;
    color: config.set-text-color(config.$primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//Headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.md-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(color.scale(config.$primary-color, $lightness: 20%), 0.5);
        display: inline-block;
    }
}

a {
    color: config.set-text-color(config.$primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: config.$secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: config.$secondary-color;
                @include config.easeOut;
            }
        }
    }

    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: config.$secondary-color;
    background: color.scale(config.$primary-color, $lightness: -15%);
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-3 {
        grid-area: job3;
    }

    .job {
        background: color.scale(config.$primary-color, $lightness: 2%);
        padding: 0.5rem;
        border-bottom: config.$secondary-color 5px solid;
        margin-bottom: 2rem;

        h6 {
            color: config.$secondary-color;
            margin-top: 0.5rem;
            font-weight: 450;
        }
    }
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: left;

    h3 {
        text-transform: uppercase;
        margin: 1rem 0rem;
        color: config.$secondary-color;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .tag {
        background: color.scale(config.$primary-color, $lightness: 10%);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-size: 0.9rem;
        transition: all 0.3s ease;
        border: 1px solid transparent;

        &:hover {
            border-color: config.$secondary-color;
            transform: translateY(-2px);
        }
    }
}

// Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border: 3px config.set-text-color(config.$primary-color) solid;

        &:hover {
            opacity: 0.5;
            border-color: config.$secondary-color;
            @include config.easeOut;
        }
    }
}

// Contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include config.easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: config.$secondary-color;
            color: config.set-text-color(config.$secondary-color);
            span {
                color: config.set-text-color(config.$secondary-color);
            }
        }
    }
}

// Button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    
    &:hover {
        background: config.$secondary-color;
        color: config.set-text-color(config.$secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: color.scale(config.$primary-color, $lightness: -50%);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: color.scale(config.$primary-color, $lightness: 50%);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: color.scale(config.$primary-color, $lightness: -60%);
    color: config.set-text-color(config.$primary-color);
    height: 60px;
}

@include mobile.trigger;